body{
    width: 1920px;   
    margin: 0 auto;
}
 /* .container{
    width: 1920px;   
    margin: 0 auto;
}  */
/* Top block with background image */
.top-header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/background_image_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    min-height: 1024px;
    position: relative;
    height: 100%;
    width: 100%;
}
.logo-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.top-subheader{
    text-align: center;
    padding: 0px;
    height: 100%; 
    margin: 0;
}
.top-titles{
    margin: 250px 0 0 0;
    display: inline-block;
}
.design-title-top-h2{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    display: inline-block;
}
.design-title-top-h1{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.header-p{
    max-width: 562px; 
}
.header-desc{
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}
.btn-start{
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    display: inline-block;
    margin: 35px 0 0 0;
}
.btn-start:active{
    background-color: #615855;
}
.btn-start-txt{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
}
.logo{
    text-decoration: none; 
    color: #fff;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-icon{
    fill: #ffffff;
}
.logo-txt{
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}
.logo:hover .logo-icon{
    fill: #c7b299;
}  
.logo:hover .logo-txt{
    color: #c7b299;
} 
.logo:active .logo-icon{
    fill: #ccc;
}  
.logo:active .logo-txt{
    color: #ccc;
}
.nav-txt{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
.navigation-menu{
    list-style-type: none;   

}
.navigation{
    margin: 50px 0 0 0;
}
.nav-txt:hover{
    color: #c7b299;
}
.menu-txt{
    float: left;
    position: relative;
    margin: 0 30px 0 0;
}
.flex-top{
    display: flex;
    justify-content: space-around;
}

.flex-top:first-child{
    margin: 0 0 0 370px;
}
.btn-cart{
    border: none;
    background-color: transparent;
    outline: none;
    margin: 30px 0 0 0;
}
.btn-cart svg{
    fill: #fff;
}
.btn-cart:hover svg{
    fill: #c7b299;
}
.btn-cart:active svg {
    fill: #ccc;
}
.flex-nav{
    display: flex;
    margin: 0 300px 0 0;
}
.search-icon-form {
    width: 30px;
} 
.search-form-label {
    display: block;
}
.search-form-label:hover .search-form-svg {
    fill: #c7b299;
}
  
.search-form-label:active .search-form-svg {
    fill: #ccc;
}
.search-form-svg {
    fill: #fff;
    margin: 50px 0 0 25px;
}
.search-form-input {
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 95px;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    text-transform: capitalize;
  }
.search-form-input:focus {
      width: 150px;
      min-height: 20px;
      transition: width 1s ease;
      border: 2px solid #fff;
}
    
.search-form-input:focus ~ .search-icon-form__label>.search-icon-form__svg {
      fill: aqua;
}
.cart-search{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    margin: 30px 150px 0 0;
  }
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(225deg);
    margin: 30px 0 0 150px;
  }
.prev:hover, .next:hover {
    border-top: 2px solid rgba(0,0,0,0.8);
    border-right: 2px solid rgba(0,0,0,0.8);
}
.pagination {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    bottom: 0;
    margin: 0 0 50px 0;
    right: 45%;
}
.pagination-btn {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #8c8c8c;
    border-radius: 50%;
    border: 2px solid transparent;
}
.pagination-btn:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}
/* Second block with examples of what are they doing*/
.what-to-do{
    height: 100%;
    width: 100%;
    box-sizing: border-box;  
}
.features-flex{
    display: flex;
    flex-direction: row;
    margin: 90px 0 0 0;
    justify-content: center;
}
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    box-sizing: border-box;
} 
.features:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.features:hover .features-icon {
    fill: #c7b299;
} 
.features:hover .features-title {
    color: #c7b299;
} 
.features:hover:after {
    background-color:#c7b299;
}
.features-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
}
.features-title {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    color: #555555;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
  .features-txt {
    color: #8c8c8c;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    width: 266px;
}
.ideas{
    background-color: #fbfaf8;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 80px 0 0 0;   
}
.ideas-text{
    display: inline-block;
    margin: 70px 0 0 0;   
}
.ideas-title{
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.ideas-desc{
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
}
.ideas-p{
    width: 757px;
}
.multi-photo { 
    min-height: 500px;
    width: 1000px;
    background-image: url('../img/browser-center.png'),
                      url('../img/browser-left.png'),
                      url('../img/browser-right.png');  
    background-size: 70%, 40%, 40%;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    margin: 0 auto;
}
/* Third block - aside block */
.advert{
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.advert-flex{
    display: flex;
    justify-content: space-around;
}
.advert-title{
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.advert-title-1{
    color: #998675;   
}
.advert-text{
   margin: 50px 0 50px 0;  
}
.advert-desc{
    color: #615855;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.btn-purchase{
    width: 180px;
    height: 50px;
    padding: 10px;
    margin: 80px 0 0 0;
    box-sizing: border-box;
    display: flex;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #998675;
}
.btn-purchase-txt{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;  
    margin: auto;
}
/* Fourth block - latest projects */
.project-options-menu{
    list-style-type: none;
    display: flex;   
    text-align: center;
}
.projects-options{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #8c8c8c;
    width: 120px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 0 10px 0 0;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
    text-align: center;
}
.projects-options:hover{
    color: #fff;
    background-color: #998675;
}
.latest-project-title{
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;  
    display: block;
    padding: 10px 10px 0 10px;
}
.latest-projects:hover .latest-project-title{
    color: #fff; 
}
.latest-project-p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1; 
    display: block;
    padding: 5px;
    margin: 0 0 0 7px;
}
.latest-projects:hover .latest-project-p{
    color: #c7b299; 
}
.latest-project-img{
    display: block;
}
.latest-project-desc{
    position: relative;
    background-color: #fbfaf8;
    padding: 10px 0 10px 0;
}
.latest-projects:hover .latest-project-desc{
    background-color: #362f2d;
}
.latest-project-desc:before {
    content: "";
    border: 10px solid transparent;	
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}
.latest-projects:hover .latest-project-desc:before {
    border-bottom: 10px solid #362f2d;
}
.latest-projects{
    width: 370px;
    position: relative;
}
.latest-projects-flex{
     display: flex;
     flex-wrap: wrap;
     width: 1500px;
     align-items: center;
     justify-content: center;
     margin: 0 auto; 
}
.latest-projects:hover .latest-project-img{
    filter: brightness(40%);
}
.project-btn-link,
.project-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%
}
.project-btn-link {
    left: 38%;
    width: 25px;
    height: 25px; 
}
.project-btn-search {
    right: 38%;
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.latest-projects:hover .project-btn-link {
    display: block;
    color: #c7b299;
}
.latest-projects:hover .project-btn-search {
    display: block;
}
.project-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
.btn-load{
    width: 160px;
    height: 50px;
    padding: 10px;
    margin: 40px 0 80px 0;
    box-sizing: border-box;
    display: flex;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #998675;
}
.btn-load-txt{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;  
    margin: auto;
}

/* Fifth block - video presentation */
.video-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.background-video{
    height: 705px;
    opacity: 0.85;
    height: 805px;
    width: 100vw;
    object-fit: cover;
}
.video-txt{
    width: 560px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
}
.video-btn {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    outline: none;
    border-radius: 50%;
    background: rgba(17,17,17, 0.3);
    border-style: none; 
}
.video-title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 40px 0 0 0;
}
.video-p {
    text-align: justify;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.video-time {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #c7b299;
}
.video-title,
.video-time {
  display: block;
  text-align: center;
}
/* Sixth block - mobile version */
.mobile{
    background-color: #fbfaf8;
    box-sizing: border-box;
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    justify-content: center;
}
.mobile-txt{
    margin: 100px 0 0 0;
}
.mobile-title{
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.mobile-p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #8c8c8c;
    width: 660px;
}
.mobile-ul{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: #8c8c8c;
    list-style-type: none;  
}
.mobile-link::before{
    content: url(../img/arrow.png);
    margin: 0 20px 0 0;
    position: relative;
    top: 5px;
}
/* Seventh block - statistics block */
.statistics{
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.stat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
}
.stat-title{
    font-family: Montserrat;
    font-size: 48px;
    line-height: 36px;
    font-weight: 100;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
}
.stat-txt{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;  
    text-align: center;
}
.stat-line{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 10px auto;
}
.stat-flex{
    display: flex;
    justify-content: center;
    padding: 70px 0 60px 0;
}
.stat-icon{
    margin: 0 auto;

}
/* Eigths block - posts */
.feed-title{
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #555555;
    text-align: center;
    margin: 80px 0 30px 0;
}
.feed-p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c; 
    width: 780px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.post-img{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
.post-title{
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.post-p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #8c8c8c;  
    position: relative; 
    width: 320px;
    margin: 0;
}
.post-p-read{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #c7b299;
    display: block;
    margin: 10px 0 0 0 ;
}
.calendar{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 20px;
}
.calendar-txt{
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    width: 50px;
    height: 35px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.calendar-month{
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.pagination-post{
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 0px;
    position: absolute;
    top: 52%;
    left: 115px;
}
.pagination-post-btn {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: 0.3;
    margin: 0 10px 0 0;
}
.pagination-post-btn:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
    opacity: 1;
}
.post-text-under{
    border: 1px solid #f8f8f8;
    width: 350px;
    padding: 0 0 20px 20px;
    margin: 0;
}
.post-flex{
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}
.btn-read-more{
    text-decoration: none;
    display: block;
}
.btn-read-more::after{
    content: url(../img/read_more.png);
    margin: 0 auto; 
    display: block;
    top:0;
    left:0;
    position: absolute;
    top: 72%;
    left: 27%;
}
.post{
    margin: 0 30px 0 0;
    padding: 0;
    display: block;
}
.post:hover .post-text-under{
    background-color: #362f2d;
}
.post:hover .post-title{
    color: #c7b299;
}
.post:hover .post-p{
    color: #ffffff;
}
.post:hover .calendar-txt{
    background-color: #c7b299;
}
.post:hover .calendar-month{
    background-color: #a48d72;
}
.post:hover .post-img-png{
    filter: brightness(40%);
}
.btn-post{
    display: flex;
    box-sizing: border-box;
    margin: 40px 0 60px 0;
    justify-content: center;
}
.btn-post-img{
    margin-right: 5px;
}
.btn-post-img:hover{
    fill: #c7b299;
}

/* Ninth block - sponsors */
.sponsors{
    background-image: url(../img/sponsors_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    position: relative;
    height: 100%;
    width: 100%;

}
.sponsors-logo-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0 0 0;
}
.sponsors-logo{
    padding: 100px 0 100px 0;
    margin: 0 120px 0 0;
}
/* Tenth block - footer */
.footer-main{
    background-color: #191919;
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer-main-logo-flex{
    display: flex;
    flex-direction: column;
}
.footer-main-logo-p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    width: 260px;
    position: relative;
}
.logo-txt-footer{
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.logo-footer:hover .logo-txt-footer{
    color: #c7b299;
}
.logo-footer:hover .logo-icon-footer{
    fill: #c7b299;
}
.logo-icon-footer{
    fill: #ffffff;
}
.logo-footer{
    display: flex;
    margin: 0 0 10px 0;
}
.btn-read-more-footer{
    text-decoration: none;
    display: block;
}
.btn-read-more-footer::after{
    content: url(../img/arrow_read_footer.png);
    margin: 0 auto; 
    display: block;
    top:0;
    left:0;
    position: absolute;
    top: 89%;
    left: 32%;
}
.p-read-footer{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    display: block;
    margin: 16px 0 0 0 ;
}
.footer-main-titles{
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.recent-posts-time{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #363636;
    display: block;
    margin: 0 0 10px 0;
}
.recent-posts-txt{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #555555;
    width: 290px;
}
.line-recent-posts{
    width: 270px;
    height: 2px;
    background-color: #252525;
}
.recent-posts-at{
    color: #059ec8;
    font-weight: 500;
}
.recent-posts-txt-link{
    color: #6b6b6b;
    font-weight: 500;
}
.first-twitter{
    margin: 38px 0 0 0;
}
.widget-photos{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    justify-content: space-around;
}
.widget-photo-single{
    margin: 0 8px 10px 0;
}
.footer-flex-column{
    margin: 0 20px 0 0;
}
.post-feed-flex{
    margin: 50px 15px 60px 0;
}
.recent-posts-txt:hover{
    color: #af9d87;
}
.recent-posts-txt:hover .recent-posts-time{
    color: #ffffff;
}
.footer-main-logo-flex:hover .footer-main-logo-p{
    color: #af9d87;
}
/* Eleventh block - copyright */
.footer-copyright{
    background-color: #111111;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-around;
}
.copyright-divider{
    background-color: #252525;
    height: 14px;
    width: 1px;
    margin: 0 10px 0 10px;
}
.copyright-txt{
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
}
.copyright-nav{
    list-style-type: none;
    display: flex;
}
.copyright-nav-flex{
    display: flex;
}
.copyright-nav-txt{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #555555;
}
.copyright-nav-txt:hover{
    color: #c7b299;
}
.waxom-txt{
    color: #959595; 
}